.plan__container {
  background: #ebeef2;
  height: 100vh;
  width: 100%;
  .plan {
    padding-top: 50px;
    margin: 0 auto;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    input {
      display: none;
      &:checked {
        & + .header .select__period {
          &::before {
            left: 100px;
          }

          span {
            &:first-child {
              opacity: 0.7;
            }
            &:last-child {
              opacity: 1;
            }
          }
        }

        &
          + .header
          + .plan__cards
          .plan__card.plan__card-1
          .plan__card__payment
          .plan__card__payment__amount {
          span::before {
            content: attr(data-yearly-price);
          }
        }
      }
    }

    .header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;
      h6 {
        font-size: 42px;
        color: #171922;
        font-weight: 900;
      }

      .select__period {
        background-color: #d4d9e0;
        border-radius: 25px;
        width: 212px;
        padding: 15px 25px;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;

        &::before {
          content: "";
          width: 100px;
          height: 40px;
          background-color: #fff;
          border-radius: 25px;
          position: absolute;
          top: 7px;
          left: 5px;
          z-index: 1;
          transition: all 0.5s;
          box-shadow: 0px 15px 13px -12px rgba(134, 147, 164, 0.739565);
        }

        span {
          text-align: center;
          display: inline-block;
          position: relative;
          z-index: 2;
          &:not(:last-child) {
            margin-right: 45px;
            opacity: 1;
          }

          &:last-child {
            opacity: 0.7;
          }
        }
      }
    }

    &__cards {
      display: flex;
      justify-content: space-between;
    }

    &__card {
      padding: 45px;
      background-color: #fff;
      width: 438px;
      &__header {
        h6 {
          font-size: 28px;
          font-weight: bold;
          margin-bottom: 35px;
        }
      }
      &__payment {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &__amount {
          span {
            font-weight: bold;
            font-size: 22px;
            margin-bottom: 10px;
            &::before {
              content: attr(data-monthly-price);
            }
          }
        }
        &__period {
          span {
            font-size: 18px;
            font-weight: bold;
            color: rgba(23, 25, 34, 0.71386);
          }
        }
      }

      .description {
        margin-bottom: 35px;

        p {
          font-weight: 600;
          font-size: 16px;
          color: rgba(23, 25, 34, 0.71386);
        }
      }

      &__footer {
        a {
          background-color: #171922;
          padding: 19px 125px;
          color: #fff;
          display: inline-block;
        }
      }
    }
  }
}
